<div class="container">

  <h1>Listing Wikipedia Pages</h1>
  <hr>

  <% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <td>Title</td>
            <td colspan="3">Operations</td>
          </tr>
        </thead>
        <tbody>
        <% @wikipedia_pages.each do |wikipedia_page| %>
            <tr>
              <td><a href="<%= wikipedia_page.url %>"><%= wikipedia_page.title %></a></td>
              <td><%= link_to 'Show', wikipedia_page %></td>
              <td><%= link_to 'Edit', edit_wikipedia_page_path(wikipedia_page) %></td>
              <td><%= link_to 'Destroy', wikipedia_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
          <tr>
            <td colspan="4">
              <%= link_to 'New Wikipedia page', new_wikipedia_page_path %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
    </div>
  </div>
</div>
